---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---
const projects = [
  {
    name: "Project 1",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit...",
    link: "/",
    img: {
      src: '/assets/images/project-web-design.png',
      alt: 'Project Web Design',
    },
    categories: [
      { label: "Astro.js", color: ColorTags.FUCHSIA },
      { label: "Web design", color: ColorTags.LIME },
      { label: "Tailwind.css", color: ColorTags.SKY },
      { label: "TypeScript", color: ColorTags.ROSE },
    ],
  },
  // ...other projects
];

const ProjectList = () => (
  <Section
    title={
      <>
        Recent <GradientText>Projects</GradientText>
      </>
    }
  >
    <div className="flex flex-col gap-6">
      {projects.map((project, index) => (
        <Project
          key={index}
          name={project.name}
          description={project.description}
          link={project.link}
          img={project.img}
          category={project.categories.map((cat, catIndex) => (
            <Tags key={catIndex} color={cat.color}>{cat.label}</Tags>
          ))}
        />
      ))}
    </div>
  </Section>
);
